.menu {
  position: fixed;
  cursor: pointer;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  z-index: 1000;
  background-color: inherit;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  padding: 3px;

  &:hover {
    background-color: #ececec;
  }
}

.mainDiv {
  width: min(70vw, 400px);
  height: min(60vh, 400px);
  z-index: 999;
  position: fixed;
  background-color: #f3f3f3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  top: 70px;
  left: 30px;
  transform: translateX(-110%);
  transition: transform 0.3s ease;
  display: grid;
  place-items: center;
}

.mainDiv.open {
  transform: translateX(0);
}

.innerContainer {
  width: 90%;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
