.btn {
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-block: 8px;
  font-size: 20px;
  background-color: #eeddc2;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in;

  &:hover {
    background-color: #d8c5a6;
  }

  &:active {
    transition: background-color 0s ease;
    background-color: #b4a284;
  }
}
